<a href="https://colab.research.google.com/github/archimisra/sample-paper-4-python/blob/main/Untitled34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
m1, m2, m3 = map(int, input().split())

if m1 >= 40 and m2 >= 40 and m3 >= 40:
    print("PASS")
else:
    print("FAIL")

89 78 66
PASS

In [ ]:
amount = float(input())

if amount >= 5000:
    discount = 0.20 * amount
elif amount >= 2000:
    discount = 0.10 * amount
else:
    discount = 0.0

final_amount = amount - discount
print(final_amount)

7890
6312.0

In [ ]:
d = int(input())

match d:
    case 6 | 7:
        print("Weekend")
    case 1 | 2 | 3 | 4 | 5:
        print("Weekday")
    case _:
        print("Invalid")

3
Weekday

In [ ]:
N = int(input())
i = 2
while i <= N:
    print(i)
    i += 2

6
2
4
6

In [ ]:
N = int(input())
total = 0
for i in range(1, N + 1):
    total += i
print(total)

8
36

In [ ]:
x = int(input())

if x >= 0:
    if x == 0:
        print("Zero")
    else:
        print("Positive")
else:
    print("Negative")

8
Positive

In [ ]:
R = int(input())
C = int(input())

for i in range(R):
    for j in range(C):
        print("*", end=" ")
    print()

9
8
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [ ]:
N = int(input())

for i in range(1, N + 1):
    for j in range(i):
        print("*", end="")
    print()

8
*
**
***
****
*****
******
*******
********

In [ ]:
N = int(input())

for i in range(1, N + 1):
    if i % 3 == 0:
        continue
    print(i)

8
1
2
4
5
7
8

In [ ]:
N = int(input())
nums = list(map(int, input().split()))

for x in nums:
    if x < 0:
        break
    print(x)

7
8
8

In [ ]:
N = int(input())

for i in range(1, N + 1):
    if i == 5:
        pass  # future logic can be added here
    print(i)

6
1
2
3
4
5
6

In [ ]:
def add_numbers(a, b):
    return a + b

a, b = map(int, input().split())
result = add_numbers(a, b)
print(result)

6 7
13

In [ ]:
def print_student(name, age):
    print("Name:", name + ",", "Age:", age)

name = input().strip()
age = int(input())
print_student(age=age, name=name)

archi
18
Name: archi, Age: 18

In [ ]:
def power(base, exp=2):
    return base ** exp

base = int(input())
line = input().strip()

if line == "":
    result = power(base)
else:
    exp = int(line)
    result = power(base, exp)

print(result)

8
9
134217728

In [ ]:
def total(*nums):
    s = 0
    for x in nums:
        s += x
    return s

N = int(input())
values = list(map(int, input().split()))
print(total(*values))

4
1234
1234

In [ ]:
def total(*nums):
    s = 0
    for x in nums:
        s += x
    return s

N = int(input())
values = list(map(int, input().split()))
print(total(*values))

1
2
2

In [ ]:
counter = 0

def increment():
    global counter
    counter += 1
    print(counter)

increment()
increment()
increment()

1
2
3

In [ ]:
doubler = lambda x: 2 * x

x = int(input())
print(doubler(x))

7
14

In [ ]:
def fact(n):
    if n == 0 or n == 1:
        return 1
    return n * fact(n - 1)

n = int(input())
print(fact(n))

5
120

In [ ]:
def list_sum(lst):
    s = 0
    for x in lst:
        s += x
    return s

N = int(input())
nums = list(map(int, input().split()))
print(list_sum(nums))

6
7
7

In [ ]:
N = int(input())
lst = list(map(int, input().split()))

first = lst[0]
last = lst[-1]
middle = lst[1:-1]

print(first)
print(last)
print(*middle)

5
10 20 30 40 50 60
10
60
20 30 40 50

In [ ]:
N = int(input())
nums = list(map(int, input().split()))

even_squares = [x*x for x in nums if x % 2 == 0]
print(*even_squares)

7
3 6 8 9  2 1 7
36 64 4

In [ ]:
N = int(input())
celsius_values = list(map(int, input().split()))

fahrenheit_values = list(map(lambda c: int((c * 9/5) + 32), celsius_values))

print(*fahrenheit_values)

89
90
194

In [ ]:
from functools import reduce

N = int(input())
sales = list(map(int, input().split()))

valid_sales = list(filter(lambda x: x >= 100, sales))
# identity map just to demonstrate map usage
valid_sales = list(map(lambda x: x, valid_sales))

if valid_sales:
    total = reduce(lambda a, b: a + b, valid_sales)
else:
    total = 0

print(total)

4
30 70 900 89
900

In [ ]:
R, C = map(int, input().split())
matrix = []

for _ in range(R):
    row = list(map(int, input().split()))
    matrix.append(row)

for row in matrix:
    print(sum(row))

2 3
1 2 3
4 5 6
6
15

In [ ]:
R = int(input())
jagged = []

for _ in range(R):
    K = int(input())
    row = list(map(int, input().split()))
    jagged.append(row)

for row in jagged:
    print(len(row))

3
4
1 5
7
1 2 3 4 5
6
7
2
5
1

In [ ]:
s = input()
vowels = "aeiouAEIOU"
count = 0

for ch in s:
    if ch in vowels:
        count += 1

print(count)

Archi Misra
4

In [ ]:
s = input()
chars = [ch for ch in s if ch != " "]
result = "".join(chars)
print(result)

i love python
ilovepython

In [ ]:
s = input()
clean = ""

for ch in s.lower():
    if ch != " ":
        clean += ch

if clean == clean[::-1]:
    print("YES")
else:
    print("NO")

yay i've finally completed this course
NO

In [ ]:
N = int(input())
nums = tuple(map(int, input().split()))

max_val = max(nums)
min_val = min(nums)
avg = sum(nums) // len(nums)

print(max_val)
print(min_val)
print(avg)

7
1 2 3 4 5 6 7
7
1
4

In [ ]:
sentence = input().strip()
words = sentence.split()
unique_words = set(words)
print(len(unique_words))

archi loves akshay khanna
4

In [ ]:
word = input().strip()
freq = {}

for ch in word:
    if ch in freq:
        freq[ch] += 1
    else:
        freq[ch] = 1

for ch in freq:
    print(ch, freq[ch])

archimisraalltheway
a 4
r 2
c 1
h 2
i 2
m 1
s 1
l 2
t 1
e 1
w 1
y 1

In [ ]:
sentence = input().strip()
words = sentence.split()

length_dict = {w: len(w) for w in words}

for w in words:
    print(w, length_dict[w])

hello world
hello 5
world 5

In [ ]:
import random

N = int(input())

for _ in range(N):
    roll = random.randint(1, 6)
    print(roll)

5
5
2
2
6
2

In [ ]:
import math

x = float(input())
print(math.sqrt(x))
print(math.pi)

9
3.0
3.141592653589793

In [ ]:
import math

x = float(input())
print(math.sqrt(x))
print(math.pi)

9
3.0
3.141592653589793

In [ ]:
K = int(input())

with open("info.txt", "r") as f:
    content = f.read(K)
    print(content)

6

FileNotFoundError: [Errno 2] No such file or directory: 'info.txt'

In [ ]:
a, b = map(int, input().split())

try:
    result = a / b
    print(result)
except ZeroDivisionError:
    print("Division by zero error")

2 6
0.3333333333333333

In [ ]:
try:
    x = int(input())
    print("You entered", x)
except ValueError:
    print("Invalid integer")
finally:
    print("Program End")

abc
Invalid integer
Program End

In [ ]:
class UnderAgeError(Exception):
    pass

age = int(input())

try:
    if age < 18:
        raise UnderAgeError("Under age for voting")
    print("Eligible to vote")
except UnderAgeError as e:
    print(e)

78
Eligible to vote

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name

    def describe(self):
        print("Person:", self.name)

class Student(Person):
    def __init__(self, name, grade):
        super().__init__(name)
        self.grade = grade

    def describe(self):
        print("Student:", self.name + ",", "Grade:", self.grade)

name = input().strip()
grade = input().strip()

s = Student(name, grade)
s.describe()
print("Is Person?", isinstance(s, Person))

archi
78
Student: archi, Grade: 78
Is Person? True